In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv('duplicate_bug_pairs.csv')
df.head()

     bug1    bug2
0  741376  880641
1  741376  864259
2  741376  808969
3  741376  800787
4  741376  686102

In [3]:
pairs = []

In [4]:
for i in tqdm(range(df.shape[0])):
    row = df.iloc[i, :]
    pairs.append({"bug1": int(row['bug1']), "bug2": int(row['bug2']), "dec": 1})

100%|██████████████████████████████| 1149116/1149116 [01:44<00:00, 11025.11it/s]

In [5]:
df = pd.read_csv('non_duplicate_bug_pairs.csv')
df.head()

     bug1    bug2
0  235863  704572
1  378295  591371
2  860894  938812
3  678846  806878
4  231081  309125

In [6]:
for i in tqdm(range(df.shape[0])):
    row = df.iloc[i, :]
    pairs.append({"bug1": int(row['bug1']), "bug2": int(row['bug2']), "dec": -1})

100%|██████████████████████████████| 4596464/4596464 [06:52<00:00, 11152.54it/s]

In [7]:
import random
random.shuffle(pairs)

In [8]:
pairs[:15]

[{'bug1': 268281, 'bug2': 885272, 'dec': -1},
 {'bug1': 260109, 'bug2': 398637, 'dec': -1},
 {'bug1': 285176, 'bug2': 532680, 'dec': -1},
 {'bug1': 217120, 'bug2': 253416, 'dec': 1},
 {'bug1': 369154, 'bug2': 896105, 'dec': -1},
 {'bug1': 43492, 'bug2': 735401, 'dec': -1},
 {'bug1': 453949, 'bug2': 793315, 'dec': -1},
 {'bug1': 410268, 'bug2': 410634, 'dec': 1},
 {'bug1': 668700, 'bug2': 815722, 'dec': -1},
 {'bug1': 248053, 'bug2': 232237, 'dec': 1},
 {'bug1': 174803, 'bug2': 672709, 'dec': -1},
 {'bug1': 144656, 'bug2': 215879, 'dec': -1},
 {'bug1': 456723, 'bug2': 456732, 'dec': 1},
 {'bug1': 219805, 'bug2': 31412, 'dec': 1},
 {'bug1': 187979, 'bug2': 597707, 'dec': -1}]

In [16]:
import json
# jsonString = json.dumps(pairs)
jsonFile = open("pairs.json", "w")

for pair in pairs:
    jsonFile.write(json.dumps(pair))
    jsonFile.write('\n')
jsonFile.close()

In [ ]:
# import json
# with open('pairs.json', 'w') as f:
#     json.dump(pairs, f)

In [19]:
import json
count = 0
with open('pairs.json', 'r') as f:
    for line in f:
        count += 1
        if count > 10000:
            break
        pair = json.loads(line)
        print(pair['bug1'])
        break

268281